<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        body {
            background-color: #9C835F;
        }

        nav {
            padding: 15px;
        }

        nav > a {
            color: #212529;
        }

        nav > a:hover {
            text-decoration: none;
            color: #212529;
        }

        nav > img {
            margin: 0 10px;
        }

        #title, .row > p, .box > p {
            font-weight: bold;
        }

        #title {
            color: #F9B23D;
            display: inline-block;
        }

        .row > img {
            padding: 30px 60px;
        }

        .container {
            max-width: 800px;
        }

        .box {
            display: none;
            width: 250px;
            height: 150px;
            background-color: #035B0C;
            position: absolute;
            top: 250px;
            right: 0;
            left: 0;
            margin: 0 auto;
            rotate: -30deg;
            border-radius: 20px;
        }

        .box > p {
            font-size: 30px;
            color: white;
            text-align: center;
        }

        .message {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 150px;
            font-size: 30px;
            color: white;
            font-weight: bold;
        }

        #refresh {
            padding-top: 0;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/"><</a>
        <img src="img/logo.png" alt="logo" width="50px">
        <p id="title">ROCK PAPER SCISSORS</p>
    </nav>

    <div class="content">
        <div class="container">
            <div class="row ">
                <div class="col">
                    <div class="row justify-content-center">
                        <p>PLAYER</p>
                    </div>
                    <div class="row justify-content-center">
                        <img id="gunting-player" src="img/gunting.png" alt="gunting" width="180px">
                    </div>
                    <div class="row justify-content-center">
                        <img id="batu-player" src="img/batu.png" alt="batu" width="180px">
                    </div>
                    <div class="row justify-content-center">
                        <img id="kertas-player" src="img/kertas.png" alt="kertas" width="180px">
                    </div>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <P>VS</P>
                    </div>
                </div>
                <div class="col">
                    <div class="row justify-content-center">
                        <p>COM</p>
                    </div>
                    <div class="row justify-content-center">
                        <img id="gunting-com" src="img/gunting.png" alt="gunting" width="180px">
                    </div>
                    <div class="row justify-content-center">
                        <img id="batu-com" src="img/batu.png" alt="batu" width="180px">
                    </div>
                    <div class="row justify-content-center">
                        <img id="kertas-com" src="img/kertas.png" alt="kertas" width="180px">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <img id="refresh" src="img/refresh.png" alt="refresh" width="170px">
            </div>
        </div>
    </div>

    <div class="box">
        <div class="message">DRAW</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const items = ['gunting', 'batu', 'kertas'];
            const guntingPlayer = document.querySelector('#gunting-player');
            const batuPlayer = document.querySelector('#batu-player');
            const kertasPlayer = document.querySelector('#kertas-player');
            const guntingCom = document.querySelector('#gunting-com');
            const batuCom = document.querySelector('#batu-com');
            const kertasCom = document.querySelector('#kertas-com');
            const box = document.querySelector('.box');
            const message = document.querySelector('.message');
            const refresh = document.querySelector('#refresh');

            guntingPlayer.addEventListener('click', () => check('gunting'));
            batuPlayer.addEventListener('click', () => check('batu'));
            kertasPlayer.addEventListener('click', () => check('kertas'));
            refresh.addEventListener('click', () => {
                selectedPlayer.style.backgroundColor = null;
                selectedPlayer.style.borderRadius = null;
                selectedCom.style.backgroundColor = null;
                selectedCom.style.borderRadius = null;
                box.style.display = 'none';
            });

            function check(itemClicked) {
                let itemCom = items[Math.floor(Math.random() * items.length)];
                
                console.log(itemClicked);
                if (itemClicked === 'gunting' && itemCom === 'kertas' || itemClicked === 'batu' && itemCom === 'gunting' || itemClicked === 'kertas' && itemCom === 'batu') {
                    console.log('player win');
                    message.innerHTML = 'PLAYER WIN';
                    box.style.backgroundColor = '#4C9654';
                } else if (itemClicked === 'gunting' && itemCom === 'batu' || itemClicked === 'batu' && itemCom === 'kertas' || itemClicked === 'kertas' && itemCom === 'gunting') {
                    console.log('com win');
                    message.innerHTML = 'COM WIN';
                    box.style.backgroundColor = '#4C9654';
                } else {
                    console.log('draw');
                    message.innerHTML = 'DRAW';
                    box.style.backgroundColor = '#035B0C';
                }

                if (itemClicked === 'gunting') {
                    selectedPlayer = guntingPlayer;
                } else if (itemClicked === 'batu') {
                    selectedPlayer = batuPlayer;
                } else {
                    selectedPlayer = kertasPlayer;
                }

                if (itemCom === 'gunting') {
                    selectedCom = guntingCom;
                } else if (itemCom === 'batu') {
                    selectedCom = batuCom;
                } else {
                    selectedCom = kertasCom;
                }

                selectedPlayer.style.backgroundColor = '#C4C4C4';
                selectedPlayer.style.borderRadius = '20px';
                selectedCom.style.backgroundColor = '#C4C4C4';
                selectedCom.style.borderRadius = '20px';
                box.style.display = 'block';
            }
        });
    </script>
</body>
</html>