<!DOCTYPE html>
<html>
<head>
    <title>Articles | Create</title>
</head>
<body>
    <form action="/articles" method="POST">
        <label for="title">Title</label><br>
        <input type="text" name="title"/><br>

        <label for="body">Body</label><br>
        <input type="text" name="body"/><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>