<!DOCTYPE html>
<html>
<head>
    <title>Articles | Edit</title>
</head>
<body>
    <form action="/articles/<%= article.id %>" method="POST">
        <label for="title">Title</label><br>
        <input type="text" name="title" value="<%= article.title %>"/><br>

        <label for="body">Body</label><br>
        <input type="text" name="body" value="<%= article.body %>"/><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>