<!DOCTYPE html>
<html>
<head>
    <title>Articles | All</title>
</head>
<body>
    <% articles.forEach(article => { %>
        <div>
            <h1><%= article.title %></h1>
            <p><%= article.body %></p>
            <a href="/articles/<%= article.id %>">baca lebih lanjut</a>
        </div>
    <% }) %>
</body>
</html>