<!DOCTYPE html>
<html>
<head>
    <title>Articles | <%= article.title %></title>
</head>
<body>
    <div>
        <h1><%= article.title %></h1>
        <p><%= article.body %></p>
        <a href="/articles/<%= article.id %>/edit">edit</a><br>
        <form action="/articles/<%= article.id %>/delete" method="POST">
            <input type="submit" value="delete">
        </form>
    </div>
</body>
</html>