<!DOCTYPE html>
<html>
<head>
    <title>Users | Create</title>
</head>
<body>
    <form action="/users" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" required/><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" required/><br><br>

        <label for="name">Name</label><br>
        <input type="text" name="name" id="name" required/><br><br>

        <label for="phone">Phone</label><br>
        <input type="text" name="phone" id="phone" required/><br><br>

        <label for="address">Address</label><br>
        <input type="text" name="address" id="address" required/><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>