<!DOCTYPE html>
<html>
<head>
    <title>Users | Edit</title>
</head>
<body>
    <form action="/users/<%= user.id %>" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" value="<%= user.username %>" required/><br><br>

        <label for="name">Name</label><br>
        <input type="text" name="name" id="name" value="<%= user.UserBiodatum.name %>" required/><br><br>

        <label for="phone">Phone</label><br>
        <input type="text" name="phone" id="phone" value="<%= user.UserBiodatum.phone %>" required/><br><br>

        <label for="address">Address</label><br>
        <input type="text" name="address" id="address" value="<%= user.UserBiodatum.address %>" required/><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>